version: "3"

services:
  frontend:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./app/backend:/app
    command: sh -c "npm install && node server.js"

